# Sorting, Counting, Subsetting

## Import libraries

In [3]:
## import libraries

In [4]:
import pandas as pd

## Upload Olympics datasets to this notebook.

### Import ```olympics-summer.csv``` and store in a dataframe called ```dfs``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv">link</a>).


### Import ```olympics-winter.csv``` and store in a dataframe called ```dfw``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv">link</a>).

In [6]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfs.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN

In [7]:
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")
dfw.head(2)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN

In [8]:
list(dfs.columns)

['ID',
 'Athlete Name',
 'Sex',
 'Age',
 'Height',
 'Weight',
 'Team',
 'NOC',
 'Year',
 'City',
 'Sport',
 'Event',
 'Medal']

In [9]:
list(dfw.columns)

['ID',
 'Athlete Name',
 'Sex',
 'Age',
 'Height',
 'Weight',
 'Team',
 'NOC',
 'Year',
 'City',
 'Sport',
 'Event',
 'Medal']

In [10]:
list(dfw.columns) == list(dfs.columns)

True

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 22.1+ MB

In [12]:
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48564 entries, 0 to 48563
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            48564 non-null  int64
 1   Athlete Name  48564 non-null  object
 2   Sex           48564 non-null  object
 3   Age           48279 non-null  float64
 4   Height        40250 non-null  float64
 5   Weight        39543 non-null  float64
 6   Team          48564 non-null  object
 7   NOC           48564 non-null  object
 8   Year          48564 non-null  int64
 9   City          48564 non-null  object
 10  Sport         48564 non-null  object
 11  Event         48564 non-null  object
 12  Medal         5695 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 4.8+ MB

In [13]:
dfs[["Year","City"]]

        Year            City
0       1896          Athina
1       1896          Athina
2       1896          Athina
3       1896          Athina
4       1896          Athina
...      ...             ...
222547  2016  Rio de Janeiro
222548  2016  Rio de Janeiro
222549  2016  Rio de Janeiro
222550  2016  Rio de Janeiro
222551  2016  Rio de Janeiro

[222552 rows x 2 columns]

In [14]:
dfw.sort_values(by="Athlete Name", ascending = True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
2788,56427,Aage Justesen,M,30.0,NaN,NaN,Denmark,DEN,1948,Sankt Moritz,Speed Skating,Speed Skating Men's 500 metres,NaN
15974,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,Speed Skating Women's 500 metres,NaN
15975,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
3799,49758,Aarne Vin Edward Honkavaara,M,27.0,184.0,81.0,Finland,FIN,1952,Oslo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
44053,12407,Aaron Blunck,M,17.0,180.0,78.0,United States,USA,2014,Sochi,Freestyle Skiing,Freestyle Skiing Men's Halfpipe,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15622,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
15623,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
8706,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
8705,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
8704,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Downhill,NaN

In [15]:
dfw.sort_values(by="City", ascending = False)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
39561,11951,Ole Einar Bjrndalen,M,36.0,178.0,65.0,Norway,NOR,2010,Vancouver,Biathlon,Biathlon Men's 4 x 7.5 kilometres Relay,Gold
40747,52463,Marc Iselin,M,29.0,178.0,83.0,Switzerland,SUI,2010,Vancouver,Snowboarding,Snowboarding Men's Parallel Giant Slalom,NaN
40741,52316,Dmitry Gennadyevich Ipatov,M,25.0,176.0,60.0,Russia,RUS,2010,Vancouver,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
40742,52345,"Michael James Grant ""Mike"" Ireland",M,36.0,181.0,79.0,Canada,CAN,2010,Vancouver,Speed Skating,Speed Skating Men's 500 metres,NaN
40743,52392,Haley Lyn Irwin,F,21.0,170.0,78.0,Canada,CAN,2010,Vancouver,Ice Hockey,Ice Hockey Women's Ice Hockey,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22495,75068,Dennis Edward Marineau,M,29.0,172.0,81.0,Canada-2,CAN,1992,Albertville,Bobsleigh,Bobsleigh Men's Two,NaN
22494,74979,Diego Margozzini,M,21.0,182.0,76.0,Chile,CHI,1992,Albertville,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
22493,74960,Pascal Margerit,M,20.0,180.0,75.0,France,FRA,1992,Albertville,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
22492,74931,Alexander Marent,M,22.0,168.0,68.0,Austria,AUT,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
21917,53932,Pawe Julian Jaroszek,M,20.0,185.0,82.0,Poland,POL,1992,Albertville,Speed Skating,"Speed Skating Men's 1,500 metres",NaN

In [16]:
dfw.sort_values(by=["City", "Year"])

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
20579,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
20580,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
20581,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
20582,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20583,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43668,135492,Veronika Zuzulov (-Velez),F,25.0,172.0,72.0,Slovakia,SVK,2010,Vancouver,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
43669,135492,Veronika Zuzulov (-Velez),F,25.0,172.0,72.0,Slovakia,SVK,2010,Vancouver,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
43670,135496,Veronika Zvaiov,F,21.0,176.0,62.0,Czech Republic,CZE,2010,Vancouver,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN
43671,135500,Kristaps Zvejnieks,M,17.0,185.0,87.0,Latvia,LAT,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
43672,135500,Kristaps Zvejnieks,M,17.0,185.0,87.0,Latvia,LAT,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Slalom,NaN

In [17]:
dfw.sort_values(by=["Year", "City"])

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [18]:
dfs["Season"] = "summer"
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,summer
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,summer
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,summer
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,summer
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [19]:
dfw["Season"] = "winter"
dfw

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,winter
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,winter
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,winter

In [20]:
df = pd.concat([dfw, dfs], ignore_index = True)
df

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
271112,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
271113,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
271114,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
271115,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 29.0+ MB

In [22]:
df["Medal"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 29.0+ MB

In [23]:
df["Sex"] = df["Sex"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: category(1), float64(3), int64(2), object(8)
memory usage: 27.1+ MB

In [24]:
df[["Medal","Season"]] = df[["Medal", "Season"]].astype("category")

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 23.5+ MB

In [26]:
df.query("City == 'Sochi'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
43673,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,winter
43674,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,winter
43675,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,winter
43676,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,winter
43677,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,winter
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,winter
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,winter

In [27]:
df_sochi = df.query("City == 'Sochi'")
df_sochi

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
43673,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,winter
43674,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,winter
43675,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,winter
43676,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,winter
43677,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,winter
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,winter
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,winter

In [28]:
df.query("Athlete Name == 'Jeremy Abbott'")

SyntaxError: invalid syntax (<unknown>, line 1)

In [29]:
df.query("`Athlete Name` == 'Jeremy Abbott'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
39272,145,Jeremy Abbott,M,24.0,175.0,70.0,United States,USA,2010,Vancouver,Figure Skating,Figure Skating Men's Singles,NaN,winter
43675,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,winter
43676,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,winter
139567,146,Jeremy Abbott,M,19.0,179.0,71.0,Canada,CAN,1976,Montreal,Canoeing,"Canoeing Men's Canadian Doubles, 1,000 metres",NaN,summer

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 23.5+ MB

In [33]:
df.query("Year == 1900")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
48944,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,summer
48945,133,Franz Abb,M,NaN,NaN,NaN,Germany,GER,1900,Paris,Gymnastics,Gymnastics Men's Individual All-Around,NaN,summer
48946,150,Margaret Ives Abbott (-Dunne),F,23.0,NaN,NaN,United States,USA,1900,Paris,Golf,Golf Women's Individual,Gold,summer
48947,151,Mary Perkins Ives Abbott (Perkins-),F,42.0,NaN,NaN,United States,USA,1900,Paris,Golf,Golf Women's Individual,NaN,summer
48948,404,"Louis Grenville ""Lou"" Abell",M,15.0,NaN,NaN,Vesper Boat Club,USA,1900,Paris,Rowing,Rowing Men's Coxed Eights,Gold,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50875,131733,William Hayden Wright,M,NaN,NaN,NaN,A North American Team,USA,1900,Paris,Polo,Polo Men's Polo,Bronze,summer
50876,133574,Henri Yvon,M,NaN,NaN,NaN,France,FRA,1900,Paris,Fencing,"Fencing Men's Foil, Masters, Individual",NaN,summer
50877,133574,Henri Yvon,M,NaN,NaN,NaN,France,FRA,1900,Paris,Fencing,"Fencing Men's epee, Masters, Individual",NaN,summer
50878,133807,Pyotr Antonovich Zakovorot,M,NaN,NaN,NaN,Russia,RUS,1900,Paris,Fencing,"Fencing Men's Sabre, Masters, Individual",NaN,summer
50879,134198,"Walter John ""Jack"" Zealley",M,NaN,NaN,NaN,Upton Park FC,GBR,1900,Paris,Football,Football Men's Football,Gold,summer

In [35]:
df.query("1920 <= Year <=1950")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91447,135510,Jan Marcus Zwaan,M,22.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 110 metres Hurdles,NaN,summer
91448,135511,"Johan Gerard ""Jo"" Zwaan",M,25.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 100 metres,NaN,summer
91449,135511,"Johan Gerard ""Jo"" Zwaan",M,25.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 4 x 100 metres Relay,NaN,summer
91450,135517,Fritz Zwazl,M,22.0,NaN,NaN,Austria,AUT,1948,London,Swimming,Swimming Men's 100 metres Backstroke,NaN,summer
91451,135534,"John Michael ""Jack"" Zwierewich",M,19.0,NaN,NaN,Canada,CAN,1948,London,Rowing,Rowing Men's Coxed Eights,NaN,summer

In [37]:
df.query("1920 <= Year <=1950").sort_values(by= "Year")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
64656,115413,Trygve Stokstad,M,17.0,NaN,NaN,Norway,NOR,1920,Antwerpen,Boxing,Boxing Men's Welterweight,NaN,summer
62802,53162,Domien Franois Jacob,M,22.0,170.0,70.0,Belgium,BEL,1920,Antwerpen,Gymnastics,Gymnastics Men's Team All-Around,Silver,summer
62801,53119,"Joseph ""Joe"" Jackson",M,39.0,183.0,NaN,United States,USA,1920,Antwerpen,Shooting,"Shooting Men's Running Target, Double Shot",NaN,summer
62800,53119,"Joseph ""Joe"" Jackson",M,39.0,183.0,NaN,United States,USA,1920,Antwerpen,Shooting,"Shooting Men's Running Target, Single Shot",NaN,summer
62799,53119,"Joseph ""Joe"" Jackson",M,39.0,183.0,NaN,United States,USA,1920,Antwerpen,Shooting,"Shooting Men's Military Rifle, 300 metres and ...",Gold,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86458,27864,Salah Asfar Al-Sheshtawi J. Dessouki,M,25.0,NaN,NaN,Egypt,EGY,1948,London,Fencing,"Fencing Men's epee, Team",NaN,summer
86457,27864,Salah Asfar Al-Sheshtawi J. Dessouki,M,25.0,NaN,NaN,Egypt,EGY,1948,London,Fencing,"Fencing Men's Foil, Team",NaN,summer
86456,27853,Marcel Cyr Desprets,M,41.0,NaN,NaN,France,FRA,1948,London,Fencing,"Fencing Men's epee, Team",Gold,summer
86468,28085,Carlo Di Maria,M,NaN,NaN,NaN,Italy,ITA,1948,London,Art Competitions,"Art Competitions Mixed Architecture, Unknown E...",NaN,summer
91451,135534,"John Michael ""Jack"" Zwierewich",M,19.0,NaN,NaN,Canada,CAN,1948,London,Rowing,Rowing Men's Coxed Eights,NaN,summer

In [39]:
df.query("(1996 <= Year <= 2018) and Sport == 'Tennis' and Sex == 'F'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
190340,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
190341,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,summer
190611,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
190612,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,summer
190699,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,25.0,165.0,55.0,Indonesia,INA,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270690,132098,Xu Yifan,F,27.0,165.0,60.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer
271007,134544,Zhang Shuai,F,27.0,177.0,66.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,summer
271008,134544,Zhang Shuai,F,27.0,177.0,66.0,China-1,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer
271039,134739,Zheng Saisai,F,22.0,170.0,62.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,summer
271040,134739,Zheng Saisai,F,22.0,170.0,62.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer

In [41]:
df.query("1996 <= Year <= 2018 and Sport == 'Tennis' and Sex == 'F'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
190340,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
190341,4723,Sabine Appelmans (-Haubourdin),F,24.0,169.0,60.0,Belgium,BEL,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,summer
190611,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
190612,7620,Olga Vladimirovna Barabanshchikova,F,16.0,176.0,60.0,Belarus,BLR,1996,Atlanta,Tennis,Tennis Women's Doubles,NaN,summer
190699,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,25.0,165.0,55.0,Indonesia,INA,1996,Atlanta,Tennis,Tennis Women's Singles,NaN,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270690,132098,Xu Yifan,F,27.0,165.0,60.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer
271007,134544,Zhang Shuai,F,27.0,177.0,66.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,summer
271008,134544,Zhang Shuai,F,27.0,177.0,66.0,China-1,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer
271039,134739,Zheng Saisai,F,22.0,170.0,62.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,summer
271040,134739,Zheng Saisai,F,22.0,170.0,62.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,summer

In [43]:
df_tennis_women = df.query("(1996 <= Year <= 2018) and Sport == 'Tennis' and Sex == 'F'")
df_tennis_women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 785 entries, 190340 to 271040
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            785 non-null    int64
 1   Athlete Name  785 non-null    object
 2   Sex           785 non-null    category
 3   Age           785 non-null    float64
 4   Height        777 non-null    float64
 5   Weight        777 non-null    float64
 6   Team          785 non-null    object
 7   NOC           785 non-null    object
 8   Year          785 non-null    int64
 9   City          785 non-null    object
 10  Sport         785 non-null    object
 11  Event         785 non-null    object
 12  Medal         60 non-null     category
 13  Season        785 non-null    category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 76.3+ KB

In [45]:
df_tennis_women.to_csv("women_in_tennis_oly.csv", index = False)

In [47]:
df

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
271112,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
271113,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
271114,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
271115,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [65]:
df.query("Sport == 'Volleyball' or Sport == 'Rowing' or \
Sport == 'Judo' or Sport\
== 'Cycling' or Sport == 'Gymnastics' or Sport == 'Baseball'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
48570,4189,Nikolaos Andriakopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Gymnastics,Gymnastics Men's Rope Climbing,Gold,summer
48573,5660,Georgios Aspiotis,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Cycling,"Cycling Men's Road Race, Individual",NaN,summer
48574,8620,Edward Battel,M,NaN,NaN,NaN,Great Britain,GBR,1896,Athina,Cycling,"Cycling Men's Road Race, Individual",Bronze,summer
48575,8620,Edward Battel,M,NaN,NaN,NaN,Great Britain,GBR,1896,Athina,Cycling,Cycling Men's 333 metres Time Trial,NaN,summer
48576,8620,Edward Battel,M,NaN,NaN,NaN,Great Britain,GBR,1896,Athina,Cycling,Cycling Men's 100 kilometres,NaN,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271084,135228,Epke Jan Zonderland,M,30.0,173.0,69.0,Netherlands,NED,2016,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,NaN,summer
271085,135228,Epke Jan Zonderland,M,30.0,173.0,69.0,Netherlands,NED,2016,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,summer
271091,135275,Rizlen Al-Zouak,F,30.0,164.0,63.0,Morocco,MAR,2016,Rio de Janeiro,Judo,Judo Women's Half-Middleweight,NaN,summer
271092,135287,Houd Zourdani,M,22.0,165.0,66.0,Algeria,ALG,2016,Rio de Janeiro,Judo,Judo Men's Half-Lightweight,NaN,summer
271104,135453,Kelita Zupancic,F,26.0,169.0,70.0,Canada,CAN,2016,Rio de Janeiro,Judo,Judo Women's Middleweight,NaN,summer

In [69]:
letters = ["a", "b", "c"]
letters

['a', 'b', 'c']

In [71]:
"a" in letters

True

In [77]:
dfx = df.query("Sport in ['Volleyball', 'Judo', 'Baseball']")
dfx ["Sport"].unique()

array(['Volleyball', 'Judo', 'Baseball'], dtype=object)

In [79]:
sports_l = ['Volleyball','Judo','Baseball', 'Gymnastics', 'Cycling']
sports_l

['Volleyball', 'Judo', 'Baseball', 'Gymnastics', 'Cycling']

In [89]:
df.query("Sport in @sports_l and Sex == 'F'")

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
70613,1211,"Estella ""Stella"" Agsteribbe (-Blits)",F,19.0,NaN,NaN,Netherlands,NED,1928,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Gold,summer
70668,3362,Bianca Ambrosetti,F,14.0,NaN,NaN,Italy,ITA,1928,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Silver,summer
70825,8532,Mathilde Bataille,F,NaN,NaN,NaN,France,FRA,1928,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,NaN,summer
71102,15212,Annie Broadbent,F,NaN,NaN,NaN,Great Britain,GBR,1928,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Bronze,summer
71510,26362,Elka de Levie (-Boas),F,22.0,NaN,NaN,Netherlands,NED,1928,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Gold,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271049,134788,Zhou Chao,F,29.0,170.0,70.0,China,CHN,2016,Rio de Janeiro,Judo,Judo Women's Middleweight,NaN,summer
271064,134857,Zhu Ting,F,21.0,198.0,78.0,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold,summer
271079,135132,Bojana ivkovi,F,28.0,186.0,72.0,Serbia,SRB,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver,summer
271091,135275,Rizlen Al-Zouak,F,30.0,164.0,63.0,Morocco,MAR,2016,Rio de Janeiro,Judo,Judo Women's Half-Middleweight,NaN,summer
271104,135453,Kelita Zupancic,F,26.0,169.0,70.0,Canada,CAN,2016,Rio de Janeiro,Judo,Judo Women's Middleweight,NaN,summer

In [91]:
dfd = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/diamonds.csv")
dfd

       carat diamond cut color clarity  depth  table  price     x     y     z
0       0.23       Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23        Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31        Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...         ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72       Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72        Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75       Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [95]:
dfd["diamond cut"].value_counts()

diamond cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [99]:
dfd["diamond cut"].value_counts(normalize = True)

diamond cut
Ideal        0.399537
Premium      0.255673
Very Good    0.223990
Good         0.090953
Fair         0.029848
Name: proportion, dtype: float64

In [101]:
dfd["diamond cut"].value_counts(normalize = True) * 100

diamond cut
Ideal        39.953652
Premium      25.567297
Very Good    22.398962
Good          9.095291
Fair          2.984798
Name: proportion, dtype: float64

In [ ]:
## Challenge

#### 1. How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?

#### 2. Top 10 count of gold medals by country

#### 3. Of these top 10, what percent of the gold medals do they have?

In [ ]:
## import packages

In [ ]:
## import data

In [ ]:
## narrow to who won medals