# Deploying Custom Python Functions in Pandas

**Our real-world challenge:** We have several datasets (Census, SNAP, homeless shelters) that we need to merge together to glean insight. Our challenge is that the columns in common between all the datasets have slightly different data formatting. We have to standardize those values.

We will have to:
1. build a custom Python function, with conditional logic, to standardize our data,
2. apply that function across multiple columns,
3. merge our datasets

In [1]:
## import library
import pandas as pd

## Import relevant data

In [3]:
## import census data and get sample of 15
dfcensus = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/conditional-conversion/NYC_Census_2020_2010_geotype.csv")
dfcensus.head()

,Year,GeoType,Borough,Community District Number,Community District Name,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units
0,2020,CD,Queens,407,Queens Community District 7,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777"
1,2020,CD,Brooklyn,311,Brooklyn Community District 11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838"
2,2020,CD,Queens,404,Queens Community District 4,"181,025",3.24,"38,213","93,972","9,329","7,679","65,963","1,692","2,390","57,748","55,202","2,546"
3,2020,CD,Queens,408,Queens Community District 8,"161,402",2.76,"32,754","29,486","44,302","18,682","60,413","3,200","5,319","59,385","56,623","2,762"
4,2020,CD,Queens,411,Queens Community District 11,"122,211",2.69,"21,612","14,460","41,967","2,641","59,980",779,"2,384","47,357","45,204","2,153"

In [5]:
# get info
dfcensus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       59 non-null     int64
 1   GeoType                    59 non-null     object
 2   Borough                    59 non-null     object
 3   Community District Number  59 non-null     int64
 4   Community District Name    59 non-null     object
 5   Total Population           59 non-null     object
 6   Average household size     59 non-null     float64
 7   Children                   59 non-null     object
 8   Latino                     59 non-null     object
 9   White non-Hispanic         59 non-null     object
 10  Black non-Hispanic         59 non-null     object
 11  Asian                      59 non-null     object
 12  Other race                 59 non-null     object
 13  Two or more races          59 non-null     object
 14  Total housing units        59 non-null     object
 15  Occupied housing units     59 non-null     object
 16  Vacant housing units       59 non-null     object
dtypes: float64(1), int64(2), object(14)
memory usage: 8.0+ KB

In [7]:
## import SNAP benefits and see sample of 15
dfsnap = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/conditional-conversion/SNAP_benefits_borough.csv")
dfsnap

,Month,Boro,Community District,BC_SNAP_Recipients,BC_SNAP_Households
0,9/1/20,Manhattan,M01,2276,1799
1,9/1/20,Manhattan,M02,2994,2438
2,9/1/20,Manhattan,M03,37879,26041
3,9/1/20,Manhattan,M04,13035,9802
4,9/1/20,Manhattan,M05,6159,4317
...,...,...,...,...,...
1116,3/1/23,Queens,Q13,23430,14876
1117,3/1/23,Queens,Q14,31366,17378
1118,3/1/23,Staten Island,S01,41354,22254
1119,3/1/23,Staten Island,S02,18554,10695
1120,3/1/23,Staten Island,S03,13658,8389

In [9]:
## get info
dfsnap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Month               1121 non-null   object
 1   Boro                1121 non-null   object
 2   Community District  1121 non-null   object
 3   BC_SNAP_Recipients  1121 non-null   int64
 4   BC_SNAP_Households  1121 non-null   int64
dtypes: int64(2), object(3)
memory usage: 43.9+ KB

In [11]:
## import homeless shelter data and get sample of 15
dfshelter = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/conditional-conversion/HomelessShelterbyBorough.csv")
dfshelter

,Report Date,Borough,Community District,Census Type,Adult Family Commercial Hotel,Adult Family Shelter,Adult Shelter,Adult Shelter Commercial Hotel,Family Cluster,Family with Children Commercial Hotel,Family with Children Shelter
0,10/31/20,Bronx,1,Individuals,NaN,189.0,73.0,140.0,31.0,64.0,1202.0
1,10/31/20,Bronx,2,Individuals,NaN,160.0,0.0,NaN,204.0,NaN,866.0
2,10/31/20,Bronx,3,Individuals,NaN,258.0,218.0,123.0,62.0,115.0,1295.0
3,10/31/20,Bronx,4,Individuals,NaN,NaN,206.0,99.0,910.0,NaN,2134.0
4,10/31/20,Bronx,5,Individuals,NaN,203.0,0.0,NaN,755.0,NaN,1054.0
...,...,...,...,...,...,...,...,...,...,...,...
3181,3/31/23,Queens,13,Individuals,NaN,NaN,131.0,895.0,NaN,NaN,832.0
3182,3/31/23,Queens,14,Individuals,NaN,321.0,102.0,339.0,NaN,NaN,180.0
3183,3/31/23,Staten Island,1,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,135.0
3184,3/31/23,Staten Island,2,Individuals,NaN,NaN,NaN,NaN,NaN,546.0,NaN
3185,3/31/23,Staten Island,3,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
## get info
dfshelter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3186 entries, 0 to 3185
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Report Date                            3186 non-null   object
 1   Borough                                3186 non-null   object
 2   Community District                     3186 non-null   int64
 3   Census Type                            3186 non-null   object
 4   Adult Family Commercial Hotel          80 non-null     float64
 5   Adult Family Shelter                   802 non-null    float64
 6   Adult Shelter                          1797 non-null   float64
 7   Adult Shelter Commercial Hotel         1242 non-null   float64
 8   Family Cluster                         402 non-null    float64
 9   Family with Children Commercial Hotel  886 non-null    float64
 10  Family with Children Shelter           2168 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 273.9+ KB

#### What are the differences and challenges?

## 1. Conditional Statements: decision-making based on conditions

> We want our code to flow based on inputs, calculations and other needs. Without flow control, a program would execute linearly without any logical progression.
>
### A Conditional Statements


<img src="https://sandeepmj.github.io/image-host/if-else.png" width="300">

In [15]:
## Write an expression that evaluates someone's age and decides 
## whether they can be served alcohol

age = 20
if age < 21:
    print ("No booze for you!")
else:
    print("what will you have?")

No booze for you!

### More often than not, there are multiple conditions that have to be tested:
<img src="https://sandeepmj.github.io/image-host/if-elif-else.png" width="300">

<b>Create a credit rating expression based on the following values</b>

- 300-579: Poor
- 580-669: Fair
- 670-739: Good
- 740-799: Very good
- 800-850: Excellent

Your output should say "Your credit of (whatever) is (rating)!"

In [17]:
## code here
credit = 689

if credit <= 579:
    print (f"Your credit of {credit} is Poor")
elif 580 <= credit < 669:
    print (f"Your credit of {credit} is Fair")
elif 670 <= credit < 739:
    print (f"Your credit of {credit} is Good")
elif 740 <= credit < 799:
    print (f"Your credit of {credit} is Very Good")
else:
 print (f"Your credit of {credit} is Excellent")

Your credit of 689 is Good

## Tenary Expression
```variable = value1 if some_condition else value2```

In [19]:
## simple credit approved or not approved
age = 42
"what would you liek to drink?" if age >= 21 else "No Booze for you"

'what would you liek to drink?'

Multiple Tenary Expression
variable = (value1 if condition1  (else value2 if condition2 else value3)

In [21]:
credit = 580

("Not approved" if credit < 669
else "Excellent rate" if credit >= 750
else "You are approved")

'Not approved'

## Functions

The real power in any programming language is the **Function**.

A function is:

* a little block of script (one line or many) that performs specific task or a series of tasks.
* reusable and helps us make our code DRY.
* triggered when something "invokes" or "calls" it.
* ideally modular – it performs a narrow task and you call several functions to perform more complex tasks.

#### Build a function called myFunction that adds 2 numbers together
## it should print ```"The total is (whatever the number is)!"```

In [23]:
## built it here
def addNumbers(number1, number2):
    total = number1 + number2
    print(f"The total is {total}")

In [25]:
## Call the using 4 and 5 as the arguments
addNumbers(4,5)

The total is 9

### A function with parameters

<img src="https://sandeepmj.github.io/image-host/function-parameters.png">

### Calling a function with arguments

![Screen Shot 2022-01-25 at 7.50.08 PM.png]()

### Return Statements

So far we have only printed out values processed by a function.

But we really want to retain the value the function creates.

We can then pass that value to other parts of our calculations and code.

In [27]:
## let's save our previous function's result in a variable called Calc
some_value = addNumbers(6,4)

The total is 10

In [29]:
## Print myCalc. What does it hold?
print(some_value)

None

In [31]:
## what type of data?
type(some_value)

NoneType

### The return Statement

In [33]:
## Tweak our function by adding return statement
## instead of printing a value we want to return a value(or values).

def addNumbers(number1, number2):
    total = number1+ number2
    print(f"The total is {total}")
    return total

In [35]:
## call the function add_numbers_ret
## and store in variable called myCalc
my_calc = addNumbers(10, 20)

The total is 30

In [37]:
## print myCalc
my_calc

30

In [39]:
## What type is myCalc?
type(my_calc)

int

In [41]:
## conditioanl credit check and put into function

def creditCheck(credit):
    
    if credit <= 400:
       print (f"Your credit of {credit} is Poor")
    elif 401 <= credit < 669:
       print (f"Your credit of {credit} is Fair")
    elif 670 <= credit < 739:
       print (f"Your credit of {credit} is Good")
    elif 740 <= credit < 799:
       print (f"Your credit of {credit} is Very Good")
    else:
       print (f"Your credit of {credit} is Excellent")

In [43]:
creditCheck(450)

Your credit of 450 is Fair

### Lambda (or anonymous) Functions

* Lambda functions allow you to create a custom calculation.
* You can then apply this calculation to targeted columns in your Pandas dataframe.
* Lambda functions, also known as ```anonymous functions```, are considered quick, throwaway functions.

### Structure of a Lamba Function


 ```lambda arguments: expression```

 A real lambda function:

 ```lambda x: x * 2```

 Compared to:
 ```def times2(x):
    return x*2```

### Applying Lambdas to Pandas dataframes

* In Pandas, we ```apply()``` lambda expressions to columns.

Here we create a new column by multiplying existing values in each row of a column by 2.

```df['new_column'] = df['existing_column'].apply(lambda x: x * 2)```

In [45]:
## create a df with mock data

data = {'firm': ['Bilk Inc.', 'Vine & Co.', 'Kiln Inc.', 'Y & Y Consulting', 'Trending Inc.', "State Insurance"],
   'net_2020': [1150, 2300, 3400, 1500, 6500, 1000 ],
        'net_2021': [1216, 2619, 3701, 1890, 5630, 1099 ]
           }
df = pd.DataFrame(data)

df

               firm  net_2020  net_2021
0         Bilk Inc.      1150      1216
1        Vine & Co.      2300      2619
2         Kiln Inc.      3400      3701
3  Y & Y Consulting      1500      1890
4     Trending Inc.      6500      5630
5   State Insurance      1000      1099

In [47]:
## create a copy to test something
dfx = df.copy()
dfx

               firm  net_2020  net_2021
0         Bilk Inc.      1150      1216
1        Vine & Co.      2300      2619
2         Kiln Inc.      3400      3701
3  Y & Y Consulting      1500      1890
4     Trending Inc.      6500      5630
5   State Insurance      1000      1099

In [49]:
## create a col 2022 which increases the col 2021 by 10 percent
dfx["net_2022"] = dfx["net_2021"].apply(lambda x: x *1.1)
dfx

               firm  net_2020  net_2021  net_2022
0         Bilk Inc.      1150      1216    1337.6
1        Vine & Co.      2300      2619    2880.9
2         Kiln Inc.      3400      3701    4071.1
3  Y & Y Consulting      1500      1890    2079.0
4     Trending Inc.      6500      5630    6193.0
5   State Insurance      1000      1099    1208.9

### ```apply()``` v. ```vectorization```

In our previous example, our apply function is applied by looping row by row and applying it to each value. This can be highly inefficient.

In our next cell, we simply use ```vectorization``` and it does the entire column or row at one time. This is much more efficient.

In [51]:
## vectorize
dfx["net_2022_vectorized"] = dfx["net_2021"] * 1.1
dfx

               firm  net_2020  net_2021  net_2022  net_2022_vectorized
0         Bilk Inc.      1150      1216    1337.6               1337.6
1        Vine & Co.      2300      2619    2880.9               2880.9
2         Kiln Inc.      3400      3701    4071.1               4071.1
3  Y & Y Consulting      1500      1890    2079.0               2079.0
4     Trending Inc.      6500      5630    6193.0               6193.0
5   State Insurance      1000      1099    1208.9               1208.9

### When Should You Use .apply() Instead?
- When operations involve multiple columns and require complex logic.
- We can tap ```lambdas``` using values from specific columns for our calculations

```df['new_col'] = df.apply(lambda x: x['column1'] + x['column2'], axis = 1)```

In [53]:
## Find the difference between net_2020 and net_2022
dfx["3-yr-diff"] = dfx.apply(lambda x: x["net_2022"] - x["net_2020"], axis=1)
dfx

,firm,net_2020,net_2021,net_2022,net_2022_vectorized,3-yr-diff
0,Bilk Inc.,1150,1216,1337.6,1337.6,187.6
1,Vine & Co.,2300,2619,2880.9,2880.9,580.9
2,Kiln Inc.,3400,3701,4071.1,4071.1,671.1
3,Y & Y Consulting,1500,1890,2079.0,2079.0,579.0
4,Trending Inc.,6500,5630,6193.0,6193.0,-307.0
5,State Insurance,1000,1099,1208.9,1208.9,208.9

In [55]:
## try it without axis = 1
## will break
dfx["3-yr-diff"] = dfx.apply(lambda x: x["net_2022"] - x["net_2020"], axis = 1)
dfx

,firm,net_2020,net_2021,net_2022,net_2022_vectorized,3-yr-diff
0,Bilk Inc.,1150,1216,1337.6,1337.6,187.6
1,Vine & Co.,2300,2619,2880.9,2880.9,580.9
2,Kiln Inc.,3400,3701,4071.1,4071.1,671.1
3,Y & Y Consulting,1500,1890,2079.0,2079.0,579.0
4,Trending Inc.,6500,5630,6193.0,6193.0,-307.0
5,State Insurance,1000,1099,1208.9,1208.9,208.9

## So what is ```axis = 1``` in Pandas?

Basically, the axis parameter determines whether the operation is applied to rows or columns:

<img src="https://raw.githubusercontent.com/sandeepmj/22spring-advanced-data/main/img/axis.png" width="75%">

In [57]:
## Axis Summary
axis = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/axis.csv")
axis

,Action,axis=0 (Operate on Rows),axis=1 (Operate on Columns)
0,.drop(),Removes a row (affects all columns),Removes a column (affects all rows)
1,.sum(),Summarizes down (column totals),Summarizes across (row totals)
2,.apply(),Applies function to each column,Applies function to each row

### What is the percentage change between net_2021 and net_2022 in dfx?¶

#### create a function that gets the percent change between two numbers
NAME YOUR FUNCTION: pct_chg

In [ ]:
## code function here

In [ ]:
## test it here

In [ ]:
## APPLY to your function

**What's happening** :

- The apply() function is being used with axis=1, meaning it operates row-wise.
- The ```lambda x:``` function processes each row of dfx, one at a time.
- The x represents a single row (not the entire DataFrame, just one row at a time).
- ```x['net_2022']``` and ```x['net_2021']``` extract values from the row.

In [59]:
## mix in conditional to create new column that says loss or profit
df["net_2022"] = df["net_2021"]*1.1
df

               firm  net_2020  net_2021  net_2022
0         Bilk Inc.      1150      1216    1337.6
1        Vine & Co.      2300      2619    2880.9
2         Kiln Inc.      3400      3701    4071.1
3  Y & Y Consulting      1500      1890    2079.0
4     Trending Inc.      6500      5630    6193.0
5   State Insurance      1000      1099    1208.9

In [61]:
df["category"] = df.apply(lambda x: "increase" if x["net_2022"] > x["net_2020"]else "decrease", axis = 1)
df

               firm  net_2020  net_2021  net_2022  category
0         Bilk Inc.      1150      1216    1337.6  increase
1        Vine & Co.      2300      2619    2880.9  increase
2         Kiln Inc.      3400      3701    4071.1  increase
3  Y & Y Consulting      1500      1890    2079.0  increase
4     Trending Inc.      6500      5630    6193.0  decrease
5   State Insurance      1000      1099    1208.9  increase

## Back to our original goal of standardizing our three dataframes

In [63]:
## remind us of census data
dfcensus

,Year,GeoType,Borough,Community District Number,Community District Name,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units
0,2020,CD,Queens,407,Queens Community District 7,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777"
1,2020,CD,Brooklyn,311,Brooklyn Community District 11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838"
2,2020,CD,Queens,404,Queens Community District 4,"181,025",3.24,"38,213","93,972","9,329","7,679","65,963","1,692","2,390","57,748","55,202","2,546"
3,2020,CD,Queens,408,Queens Community District 8,"161,402",2.76,"32,754","29,486","44,302","18,682","60,413","3,200","5,319","59,385","56,623","2,762"
4,2020,CD,Queens,411,Queens Community District 11,"122,211",2.69,"21,612","14,460","41,967","2,641","59,980",779,"2,384","47,357","45,204","2,153"
5,2020,CD,Manhattan,103,Manhattan Community District 3,"163,141",2.02,"18,955","38,668","55,048","12,776","50,188","1,425","5,036","82,589","76,335","6,254"
6,2020,CD,Queens,402,Queens Community District 2,"137,981",2.41,"21,892","40,659","39,290","3,784","48,826","1,563","3,859","60,766","56,413","4,353"
7,2020,CD,Brooklyn,312,Brooklyn Community District 12,"205,377",3.47,"71,693","25,170","121,295","4,794","42,293","6,275","5,550","62,782","58,552","4,230"
8,2020,CD,Brooklyn,307,Brooklyn Community District 7,"133,230",3.01,"30,146","52,310","31,915","4,209","40,415","1,120","3,261","45,683","43,079","2,604"
9,2020,CD,Queens,412,Queens Community District 12,"256,278",3.15,"54,033","46,287","4,607","138,219","38,934","13,450","14,781","84,092","79,827","4,265"
10,2020,CD,Queens,409,Queens Community District 9,"152,839",3.16,"31,566","63,620","23,074","10,224","38,802","9,768","7,351","50,877","48,117","2,760"
11,2020,CD,Queens,406,Queens Community District 6,"120,955",2.25,"20,995","19,946","53,244","3,490","37,288","1,637","5,350","56,695","53,485","3,210"
12,2020,CD,Queens,413,Queens Community District 13,"199,218",3.10,"35,861","24,911","18,192","102,711","36,954","7,057","9,393","66,259","63,211","3,048"
13,2020,CD,Brooklyn,310,Brooklyn Community District 10,"136,071",2.58,"27,530","23,233","69,293","2,356","36,619","1,039","3,531","55,768","52,460","3,308"
14,2020,CD,Queens,403,Queens Community District 3,"179,134",3.16,"37,590","113,447","17,643","8,690","34,456","2,210","2,688","59,119","56,025","3,094"
15,2020,CD,Brooklyn,315,Brooklyn Community District 15,"169,632",2.66,"36,851","15,688","105,734","6,649","34,358","1,296","5,907","67,322","63,097","4,225"
16,2020,CD,Queens,401,Queens Community District 1,"196,803",2.23,"27,312","50,073","90,578","15,281","29,989","3,037","7,845","90,547","85,697","4,850"
17,2020,CD,Queens,410,Queens Community District 10,"129,411",3.11,"24,525","30,587","25,678","17,971","27,838","16,205","11,132","43,252","41,213","2,039"
18,2020,CD,Manhattan,106,Manhattan Community District 6,"155,614",1.73,"14,281","13,779","101,605","5,424","27,293","1,474","6,039","99,371","87,186","12,185"
19,2020,CD,Manhattan,108,Manhattan Community District 8,"231,983",1.87,"33,594","18,517","170,406","6,257","26,536","1,789","8,478","138,922","122,565","16,357"
20,2020,CD,Staten Island,502,Staten Island Community District 2,"140,795",2.83,"28,715","20,181","85,970","4,901","25,887","1,052","2,804","51,599","48,690","2,909"
21,2020,CD,Manhattan,104,Manhattan Community District 4,"131,351",1.68,"11,444","23,249","69,509","9,075","22,933","1,258","5,327","84,357","75,001","9,356"
22,2020,CD,Manhattan,107,Manhattan Community District 7,"222,129",1.93,"32,905","32,844","139,967","14,946","22,826","2,163","9,383","126,397","110,770","15,627"
23,2020,CD,Brooklyn,314,Brooklyn Community District 14,"164,568",2.74,"36,180","24,726","61,736","46,445","21,317","2,332","8,012","62,254","59,355","2,899"
24,2020,CD,Bronx,209,Bronx Community District 9,"188,249",2.82,"45,395","103,696","4,859","50,351","21,305","3,958","4,080","68,576","66,029","2,547"
25,2020,CD,Staten Island,501,Staten Island Community District 1,"189,663",2.86,"44,216","58,955","62,560","40,093","20,632","1,995","5,428","69,066","64,940","4,126"
26,2020,CD,Queens,405,Queens Community District 5,"178,178",2.72,"33,591","64,221","85,642","3,884","19,241","1,658","3,532","69,416","65,075","4,341"
27,2020,CD,Brooklyn,313,Brooklyn Community District 13,"108,905",2.39,"20,282","17,508","56,345","13,045","17,929",894,"3,184","46,672","44,531","2,141"
28,2020,CD,Brooklyn,302,Brooklyn Community District 2,"130,021",2.03,"20,037","17,036","62,700","25,029","16,669","1,380","7,207","66,998","61,221","5,777"
29,2020,CD,Brooklyn,305,Brooklyn Community District 5,"200,293",2.90,"48,268","73,681","6,341","92,108","14,772","4,469","8,922","72,381","68,174","4,207"
30,2020,CD,Manhattan,101,Manhattan Community District 1,"78,390",2.02,"12,775","6,914","49,307","2,964","14,263",735,"4,207","41,977","36,457","5,520"
31,2020,CD,Brooklyn,301,Brooklyn Community District 1,"204,125",2.43,"44,725","45,476","124,282","10,692","13,631","2,956","7,088","89,974","83,353","6,621"
32,2020,CD,Staten Island,503,Staten Island Community District 3,"164,723",2.76,"33,271","17,659","129,182","1,791","12,212",839,"3,040","62,782","59,404","3,378"
33,2020,CD,Manhattan,105,Manhattan Community District 5,"63,600",1.68,"5,982","7,912","35,750","4,768","12,123",632,"2,415","42,323","33,230","9,093"
34,2020,CD,Manhattan,102,Manhattan Community District 2,"92,445",1.71,"8,587","7,303","65,968","2,271","11,922",828,"4,153","58,418","50,806","7,612"
35,2020,CD,Bronx,211,Bronx Community District 11,"119,666",2.71,"25,881","53,788","26,285","23,567","11,154","1,822","3,050","44,864","42,686","2,178"
36,2020,CD,Manhattan,109,Manhattan Community District 9,"110,458",2.34,"15,110","42,523","28,290","23,322","10,784","1,308","4,231","44,900","41,325","3,575"
37,2020,CD,Brooklyn,318,Brooklyn Community District 18,"204,095",2.95,"43,137","17,919","43,259","120,661","10,486","2,452","9,318","72,361","68,523","3,838"
38,2020,CD,Bronx,207,Bronx Community District 7,"146,813",2.79,"34,554","99,985","8,260","24,456","10,021","1,948","2,143","53,180","50,996","2,184"
39,2020,CD,Manhattan,111,Manhattan Community District 11,"125,771",2.29,"23,954","56,743","18,865","35,311","9,825","1,249","3,778","54,738","51,823","2,915"
40,2020,CD,Bronx,210,Bronx Community District 10,"130,763",2.45,"24,874","53,710","32,278","31,215","9,142","1,655","2,763","54,738","52,169","2,569"
41,2020,CD,Brooklyn,306,Brooklyn Community District 6,"113,933",2.27,"23,278","18,136","69,749","10,285","8,372",967,"6,424","53,365","49,623","3,742"
42,2020,CD,Brooklyn,303,Brooklyn Community District 3,"174,960",2.56,"36,035","32,788","46,592","76,676","7,988","2,542","8,374","72,904","67,225","5,679"
43,2020,CD,Brooklyn,304,Brooklyn Community District 4,"120,747",2.69,"20,348","61,627","27,883","18,163","7,402","1,584","4,088","47,292","44,036","3,256"
44,2020,CD,Manhattan,112,Manhattan Community District 12,"180,206",2.48,"28,290","117,244","38,222","13,161","5,751","1,679","4,149","74,722","71,076","3,646"
45,2020,CD,Brooklyn,308,Brooklyn Community District 8,"108,259",2.30,"18,521","14,131","31,077","49,705","5,451","1,467","6,428","49,525","46,222","3,303"
46,2020,CD,Bronx,208,Bronx Community District 8,"106,924",2.37,"20,729","52,317","34,097","11,247","5,329","1,279","2,655","45,144","42,569","2,575"
47,2020,CD,Manhattan,110,Manhattan Community District 10,"130,440",2.19,"24,766","30,904","19,778","67,610","5,048","1,492","5,608","61,629","57,720","3,909"
48,2020,CD,Queens,414,Queens Community District 14,"124,173",2.70,"30,502","28,592","40,183","44,867","3,553","2,355","4,623","47,975","44,054","3,921"
49,2020,CD,Bronx,212,Bronx Community District 12,"163,489",2.79,"36,764","44,168","9,347","98,995","3,440","3,008","4,531","60,856","57,603","3,253"
50,2020,CD,Brooklyn,317,Brooklyn Community District 17,"162,446",2.71,"31,612","13,313","5,837","127,289","3,036","2,301","10,670","62,636","58,768","3,868"
51,2020,CD,Brooklyn,309,Brooklyn Community District 9,"102,000",2.52,"19,983","10,478","28,532","52,807","2,640","2,279","5,264","41,694","39,338","2,356"
52,2020,CD,Bronx,204,Bronx Community District 4,"150,436",2.79,"37,858","97,804","3,240","43,227","2,596","1,460","2,109","54,022","52,006","2,016"
53,2020,CD,Bronx,205,Bronx Community District 5,"132,584",2.91,"34,523","90,730","1,991","34,598","1,888","1,536","1,841","45,814","44,332","1,482"
54,2020,CD,Brooklyn,316,Brooklyn Community District 16,"98,506",2.68,"24,686","21,709","3,347","66,418","1,331","1,145","4,556","36,951","34,999","1,952"
55,2020,CD,Bronx,206,Bronx Community District 6,"89,216",2.66,"23,194","56,181","5,653","23,765","1,148",936,"1,533","32,821","30,906","1,915"
56,2020,CD,Bronx,201,Bronx Community District 1,"100,929",2.74,"27,218","67,216","2,556","27,765",909,936,"1,547","36,896","35,495","1,401"
57,2020,CD,Bronx,203,Bronx Community District 3,"93,755",2.74,"25,748","52,646","1,538","36,599",518,882,"1,572","34,360","32,668","1,692"
58,2020,CD,Bronx,202,Bronx Community District 2,"54,454",2.82,"14,652","38,895",941,"13,025",383,507,703,"19,240","18,381",859

In [65]:
dfsnap

,Month,Boro,Community District,BC_SNAP_Recipients,BC_SNAP_Households
0,9/1/20,Manhattan,M01,2276,1799
1,9/1/20,Manhattan,M02,2994,2438
2,9/1/20,Manhattan,M03,37879,26041
3,9/1/20,Manhattan,M04,13035,9802
4,9/1/20,Manhattan,M05,6159,4317
...,...,...,...,...,...
1116,3/1/23,Queens,Q13,23430,14876
1117,3/1/23,Queens,Q14,31366,17378
1118,3/1/23,Staten Island,S01,41354,22254
1119,3/1/23,Staten Island,S02,18554,10695
1120,3/1/23,Staten Island,S03,13658,8389

In [67]:
dfsnap.sample(20)

,Month,Boro,Community District,BC_SNAP_Recipients,BC_SNAP_Households
850,3/1/20,Brooklyn,K16,35363,20091
66,12/1/20,Manhattan,M08,5950,4637
1089,3/1/23,Brooklyn,K16,38726,22934
922,6/1/20,Brooklyn,K17,31527,20294
828,3/1/20,Bronx,B06,36637,20047
932,6/1/20,Queens,Q09,22539,13053
57,9/1/20,Staten Island,S02,15810,9214
653,6/1/19,BRONX,B08,15289,9180
662,6/1/19,BROOKLYN,K05,60158,34349
829,3/1/20,Bronx,B07,41865,24217
1058,12/1/22,Queens,Q14,30351,16763
894,6/1/20,Bronx,B01,45637,24832
914,6/1/20,Brooklyn,K09,21313,13145
1009,12/1/22,Manhattan,M07,17222,12706
114,12/1/20,Queens,Q14,29379,16221
306,12/1/21,Manhattan,M12,47122,32586
256,9/1/21,Bronx,B09,56721,31566
640,3/1/19,QUEENS,Q12,42290,25688
517,9/1/18,QUEENS,Q07,26410,17168
501,9/1/18,BRONX,B03,42384,22379

In [69]:
dfshelter

,Report Date,Borough,Community District,Census Type,Adult Family Commercial Hotel,Adult Family Shelter,Adult Shelter,Adult Shelter Commercial Hotel,Family Cluster,Family with Children Commercial Hotel,Family with Children Shelter
0,10/31/20,Bronx,1,Individuals,NaN,189.0,73.0,140.0,31.0,64.0,1202.0
1,10/31/20,Bronx,2,Individuals,NaN,160.0,0.0,NaN,204.0,NaN,866.0
2,10/31/20,Bronx,3,Individuals,NaN,258.0,218.0,123.0,62.0,115.0,1295.0
3,10/31/20,Bronx,4,Individuals,NaN,NaN,206.0,99.0,910.0,NaN,2134.0
4,10/31/20,Bronx,5,Individuals,NaN,203.0,0.0,NaN,755.0,NaN,1054.0
...,...,...,...,...,...,...,...,...,...,...,...
3181,3/31/23,Queens,13,Individuals,NaN,NaN,131.0,895.0,NaN,NaN,832.0
3182,3/31/23,Queens,14,Individuals,NaN,321.0,102.0,339.0,NaN,NaN,180.0
3183,3/31/23,Staten Island,1,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,135.0
3184,3/31/23,Staten Island,2,Individuals,NaN,NaN,NaN,NaN,NaN,546.0,NaN
3185,3/31/23,Staten Island,3,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
dfcensus.head(2)

,Year,GeoType,Borough,Community District Number,Community District Name,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units
0,2020,CD,Queens,407,Queens Community District 7,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777"
1,2020,CD,Brooklyn,311,Brooklyn Community District 11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838"

In [73]:
dfcensus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       59 non-null     int64
 1   GeoType                    59 non-null     object
 2   Borough                    59 non-null     object
 3   Community District Number  59 non-null     int64
 4   Community District Name    59 non-null     object
 5   Total Population           59 non-null     object
 6   Average household size     59 non-null     float64
 7   Children                   59 non-null     object
 8   Latino                     59 non-null     object
 9   White non-Hispanic         59 non-null     object
 10  Black non-Hispanic         59 non-null     object
 11  Asian                      59 non-null     object
 12  Other race                 59 non-null     object
 13  Two or more races          59 non-null     object
 14  Total housing units        59 non-null     object
 15  Occupied housing units     59 non-null     object
 16  Vacant housing units       59 non-null     object
dtypes: float64(1), int64(2), object(14)
memory usage: 8.0+ KB

### Function fo standardize census CDN

In [89]:
## function to convert CDN for census data
def convertCensus(cdn):
    string_cdn = str(cdn)
    first_digit = string_cdn[0]
    #print(first_digit)
    last_2_digits = string_cdn[1:3]
    #print(last_2_digits)
    if first_digit == "1":
        cdn_code = f"M{last_2_digits}"
    elif first_digit == "2":
         cdn_code = f"B{last_2_digits}"
    elif first_digit == "3":
         cdn_code = f"K{last_2_digits}"
    elif first_digit == "4":
         cdn_code = f"Q{last_2_digits}"
    elif first_digit == "5":
         cdn_code = f"S{last_2_digits}"
    else: cdn_code = "FLAG"
    return cdn_code

In [91]:
dfcensus.head(3)

,Year,GeoType,Borough,Community District Number,Community District Name,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units
0,2020,CD,Queens,407,Queens Community District 7,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777"
1,2020,CD,Brooklyn,311,Brooklyn Community District 11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838"
2,2020,CD,Queens,404,Queens Community District 4,"181,025",3.24,"38,213","93,972","9,329","7,679","65,963","1,692","2,390","57,748","55,202","2,546"

In [93]:
## run it
convertCensus(519)

'S19'

In [95]:
dfcensus["updated_cdn"] = \
dfcensus["Community District Number"].apply(lambda x: convertCensus(x))
dfcensus

,Year,GeoType,Borough,Community District Number,Community District Name,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units,updated_cdn
0,2020,CD,Queens,407,Queens Community District 7,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777",Q07
1,2020,CD,Brooklyn,311,Brooklyn Community District 11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838",K11
2,2020,CD,Queens,404,Queens Community District 4,"181,025",3.24,"38,213","93,972","9,329","7,679","65,963","1,692","2,390","57,748","55,202","2,546",Q04
3,2020,CD,Queens,408,Queens Community District 8,"161,402",2.76,"32,754","29,486","44,302","18,682","60,413","3,200","5,319","59,385","56,623","2,762",Q08
4,2020,CD,Queens,411,Queens Community District 11,"122,211",2.69,"21,612","14,460","41,967","2,641","59,980",779,"2,384","47,357","45,204","2,153",Q11
5,2020,CD,Manhattan,103,Manhattan Community District 3,"163,141",2.02,"18,955","38,668","55,048","12,776","50,188","1,425","5,036","82,589","76,335","6,254",M03
6,2020,CD,Queens,402,Queens Community District 2,"137,981",2.41,"21,892","40,659","39,290","3,784","48,826","1,563","3,859","60,766","56,413","4,353",Q02
7,2020,CD,Brooklyn,312,Brooklyn Community District 12,"205,377",3.47,"71,693","25,170","121,295","4,794","42,293","6,275","5,550","62,782","58,552","4,230",K12
8,2020,CD,Brooklyn,307,Brooklyn Community District 7,"133,230",3.01,"30,146","52,310","31,915","4,209","40,415","1,120","3,261","45,683","43,079","2,604",K07
9,2020,CD,Queens,412,Queens Community District 12,"256,278",3.15,"54,033","46,287","4,607","138,219","38,934","13,450","14,781","84,092","79,827","4,265",Q12
10,2020,CD,Queens,409,Queens Community District 9,"152,839",3.16,"31,566","63,620","23,074","10,224","38,802","9,768","7,351","50,877","48,117","2,760",Q09
11,2020,CD,Queens,406,Queens Community District 6,"120,955",2.25,"20,995","19,946","53,244","3,490","37,288","1,637","5,350","56,695","53,485","3,210",Q06
12,2020,CD,Queens,413,Queens Community District 13,"199,218",3.10,"35,861","24,911","18,192","102,711","36,954","7,057","9,393","66,259","63,211","3,048",Q13
13,2020,CD,Brooklyn,310,Brooklyn Community District 10,"136,071",2.58,"27,530","23,233","69,293","2,356","36,619","1,039","3,531","55,768","52,460","3,308",K10
14,2020,CD,Queens,403,Queens Community District 3,"179,134",3.16,"37,590","113,447","17,643","8,690","34,456","2,210","2,688","59,119","56,025","3,094",Q03
15,2020,CD,Brooklyn,315,Brooklyn Community District 15,"169,632",2.66,"36,851","15,688","105,734","6,649","34,358","1,296","5,907","67,322","63,097","4,225",K15
16,2020,CD,Queens,401,Queens Community District 1,"196,803",2.23,"27,312","50,073","90,578","15,281","29,989","3,037","7,845","90,547","85,697","4,850",Q01
17,2020,CD,Queens,410,Queens Community District 10,"129,411",3.11,"24,525","30,587","25,678","17,971","27,838","16,205","11,132","43,252","41,213","2,039",Q10
18,2020,CD,Manhattan,106,Manhattan Community District 6,"155,614",1.73,"14,281","13,779","101,605","5,424","27,293","1,474","6,039","99,371","87,186","12,185",M06
19,2020,CD,Manhattan,108,Manhattan Community District 8,"231,983",1.87,"33,594","18,517","170,406","6,257","26,536","1,789","8,478","138,922","122,565","16,357",M08
20,2020,CD,Staten Island,502,Staten Island Community District 2,"140,795",2.83,"28,715","20,181","85,970","4,901","25,887","1,052","2,804","51,599","48,690","2,909",S02
21,2020,CD,Manhattan,104,Manhattan Community District 4,"131,351",1.68,"11,444","23,249","69,509","9,075","22,933","1,258","5,327","84,357","75,001","9,356",M04
22,2020,CD,Manhattan,107,Manhattan Community District 7,"222,129",1.93,"32,905","32,844","139,967","14,946","22,826","2,163","9,383","126,397","110,770","15,627",M07
23,2020,CD,Brooklyn,314,Brooklyn Community District 14,"164,568",2.74,"36,180","24,726","61,736","46,445","21,317","2,332","8,012","62,254","59,355","2,899",K14
24,2020,CD,Bronx,209,Bronx Community District 9,"188,249",2.82,"45,395","103,696","4,859","50,351","21,305","3,958","4,080","68,576","66,029","2,547",B09
25,2020,CD,Staten Island,501,Staten Island Community District 1,"189,663",2.86,"44,216","58,955","62,560","40,093","20,632","1,995","5,428","69,066","64,940","4,126",S01
26,2020,CD,Queens,405,Queens Community District 5,"178,178",2.72,"33,591","64,221","85,642","3,884","19,241","1,658","3,532","69,416","65,075","4,341",Q05
27,2020,CD,Brooklyn,313,Brooklyn Community District 13,"108,905",2.39,"20,282","17,508","56,345","13,045","17,929",894,"3,184","46,672","44,531","2,141",K13
28,2020,CD,Brooklyn,302,Brooklyn Community District 2,"130,021",2.03,"20,037","17,036","62,700","25,029","16,669","1,380","7,207","66,998","61,221","5,777",K02
29,2020,CD,Brooklyn,305,Brooklyn Community District 5,"200,293",2.90,"48,268","73,681","6,341","92,108","14,772","4,469","8,922","72,381","68,174","4,207",K05
30,2020,CD,Manhattan,101,Manhattan Community District 1,"78,390",2.02,"12,775","6,914","49,307","2,964","14,263",735,"4,207","41,977","36,457","5,520",M01
31,2020,CD,Brooklyn,301,Brooklyn Community District 1,"204,125",2.43,"44,725","45,476","124,282","10,692","13,631","2,956","7,088","89,974","83,353","6,621",K01
32,2020,CD,Staten Island,503,Staten Island Community District 3,"164,723",2.76,"33,271","17,659","129,182","1,791","12,212",839,"3,040","62,782","59,404","3,378",S03
33,2020,CD,Manhattan,105,Manhattan Community District 5,"63,600",1.68,"5,982","7,912","35,750","4,768","12,123",632,"2,415","42,323","33,230","9,093",M05
34,2020,CD,Manhattan,102,Manhattan Community District 2,"92,445",1.71,"8,587","7,303","65,968","2,271","11,922",828,"4,153","58,418","50,806","7,612",M02
35,2020,CD,Bronx,211,Bronx Community District 11,"119,666",2.71,"25,881","53,788","26,285","23,567","11,154","1,822","3,050","44,864","42,686","2,178",B11
36,2020,CD,Manhattan,109,Manhattan Community District 9,"110,458",2.34,"15,110","42,523","28,290","23,322","10,784","1,308","4,231","44,900","41,325","3,575",M09
37,2020,CD,Brooklyn,318,Brooklyn Community District 18,"204,095",2.95,"43,137","17,919","43,259","120,661","10,486","2,452","9,318","72,361","68,523","3,838",K18
38,2020,CD,Bronx,207,Bronx Community District 7,"146,813",2.79,"34,554","99,985","8,260","24,456","10,021","1,948","2,143","53,180","50,996","2,184",B07
39,2020,CD,Manhattan,111,Manhattan Community District 11,"125,771",2.29,"23,954","56,743","18,865","35,311","9,825","1,249","3,778","54,738","51,823","2,915",M11
40,2020,CD,Bronx,210,Bronx Community District 10,"130,763",2.45,"24,874","53,710","32,278","31,215","9,142","1,655","2,763","54,738","52,169","2,569",B10
41,2020,CD,Brooklyn,306,Brooklyn Community District 6,"113,933",2.27,"23,278","18,136","69,749","10,285","8,372",967,"6,424","53,365","49,623","3,742",K06
42,2020,CD,Brooklyn,303,Brooklyn Community District 3,"174,960",2.56,"36,035","32,788","46,592","76,676","7,988","2,542","8,374","72,904","67,225","5,679",K03
43,2020,CD,Brooklyn,304,Brooklyn Community District 4,"120,747",2.69,"20,348","61,627","27,883","18,163","7,402","1,584","4,088","47,292","44,036","3,256",K04
44,2020,CD,Manhattan,112,Manhattan Community District 12,"180,206",2.48,"28,290","117,244","38,222","13,161","5,751","1,679","4,149","74,722","71,076","3,646",M12
45,2020,CD,Brooklyn,308,Brooklyn Community District 8,"108,259",2.30,"18,521","14,131","31,077","49,705","5,451","1,467","6,428","49,525","46,222","3,303",K08
46,2020,CD,Bronx,208,Bronx Community District 8,"106,924",2.37,"20,729","52,317","34,097","11,247","5,329","1,279","2,655","45,144","42,569","2,575",B08
47,2020,CD,Manhattan,110,Manhattan Community District 10,"130,440",2.19,"24,766","30,904","19,778","67,610","5,048","1,492","5,608","61,629","57,720","3,909",M10
48,2020,CD,Queens,414,Queens Community District 14,"124,173",2.70,"30,502","28,592","40,183","44,867","3,553","2,355","4,623","47,975","44,054","3,921",Q14
49,2020,CD,Bronx,212,Bronx Community District 12,"163,489",2.79,"36,764","44,168","9,347","98,995","3,440","3,008","4,531","60,856","57,603","3,253",B12
50,2020,CD,Brooklyn,317,Brooklyn Community District 17,"162,446",2.71,"31,612","13,313","5,837","127,289","3,036","2,301","10,670","62,636","58,768","3,868",K17
51,2020,CD,Brooklyn,309,Brooklyn Community District 9,"102,000",2.52,"19,983","10,478","28,532","52,807","2,640","2,279","5,264","41,694","39,338","2,356",K09
52,2020,CD,Bronx,204,Bronx Community District 4,"150,436",2.79,"37,858","97,804","3,240","43,227","2,596","1,460","2,109","54,022","52,006","2,016",B04
53,2020,CD,Bronx,205,Bronx Community District 5,"132,584",2.91,"34,523","90,730","1,991","34,598","1,888","1,536","1,841","45,814","44,332","1,482",B05
54,2020,CD,Brooklyn,316,Brooklyn Community District 16,"98,506",2.68,"24,686","21,709","3,347","66,418","1,331","1,145","4,556","36,951","34,999","1,952",K16
55,2020,CD,Bronx,206,Bronx Community District 6,"89,216",2.66,"23,194","56,181","5,653","23,765","1,148",936,"1,533","32,821","30,906","1,915",B06
56,2020,CD,Bronx,201,Bronx Community District 1,"100,929",2.74,"27,218","67,216","2,556","27,765",909,936,"1,547","36,896","35,495","1,401",B01
57,2020,CD,Bronx,203,Bronx Community District 3,"93,755",2.74,"25,748","52,646","1,538","36,599",518,882,"1,572","34,360","32,668","1,692",B03
58,2020,CD,Bronx,202,Bronx Community District 2,"54,454",2.82,"14,652","38,895",941,"13,025",383,507,703,"19,240","18,381",859,B02

In [ ]:
## did it work?

In [ ]:
## let's move it closer to original CDN

In [97]:
## reorder
list(dfcensus.columns)

['Year',
 'GeoType',
 'Borough',
 'Community District Number',
 'Community District Name',
 'Total Population',
 'Average household size',
 'Children',
 'Latino',
 'White non-Hispanic',
 'Black non-Hispanic',
 'Asian',
 'Other race',
 'Two or more races',
 'Total housing units',
 'Occupied housing units',
 'Vacant housing units',
 'updated_cdn']

In [99]:
## call census data
dfcensus = dfcensus[['Year',
 'GeoType',
 'Borough',
    'updated_cdn',
 'Total Population',
 'Average household size',
 'Children',
 'Latino',
 'White non-Hispanic',
 'Black non-Hispanic',
 'Asian',
 'Other race',
 'Two or more races',
 'Total housing units',
 'Occupied housing units',
 'Vacant housing units',
]]
dfcensus

,Year,GeoType,Borough,updated_cdn,Total Population,Average household size,Children,Latino,White non-Hispanic,Black non-Hispanic,Asian,Other race,Two or more races,Total housing units,Occupied housing units,Vacant housing units
0,2020,CD,Queens,Q07,"269,587",2.75,"45,543","48,845","55,882","5,412","154,404","1,575","3,469","102,836","97,059","5,777"
1,2020,CD,Brooklyn,K11,"198,870",2.94,"42,380","31,489","72,496","2,353","86,067","1,081","5,384","71,074","67,236","3,838"
2,2020,CD,Queens,Q04,"181,025",3.24,"38,213","93,972","9,329","7,679","65,963","1,692","2,390","57,748","55,202","2,546"
3,2020,CD,Queens,Q08,"161,402",2.76,"32,754","29,486","44,302","18,682","60,413","3,200","5,319","59,385","56,623","2,762"
4,2020,CD,Queens,Q11,"122,211",2.69,"21,612","14,460","41,967","2,641","59,980",779,"2,384","47,357","45,204","2,153"
5,2020,CD,Manhattan,M03,"163,141",2.02,"18,955","38,668","55,048","12,776","50,188","1,425","5,036","82,589","76,335","6,254"
6,2020,CD,Queens,Q02,"137,981",2.41,"21,892","40,659","39,290","3,784","48,826","1,563","3,859","60,766","56,413","4,353"
7,2020,CD,Brooklyn,K12,"205,377",3.47,"71,693","25,170","121,295","4,794","42,293","6,275","5,550","62,782","58,552","4,230"
8,2020,CD,Brooklyn,K07,"133,230",3.01,"30,146","52,310","31,915","4,209","40,415","1,120","3,261","45,683","43,079","2,604"
9,2020,CD,Queens,Q12,"256,278",3.15,"54,033","46,287","4,607","138,219","38,934","13,450","14,781","84,092","79,827","4,265"
10,2020,CD,Queens,Q09,"152,839",3.16,"31,566","63,620","23,074","10,224","38,802","9,768","7,351","50,877","48,117","2,760"
11,2020,CD,Queens,Q06,"120,955",2.25,"20,995","19,946","53,244","3,490","37,288","1,637","5,350","56,695","53,485","3,210"
12,2020,CD,Queens,Q13,"199,218",3.10,"35,861","24,911","18,192","102,711","36,954","7,057","9,393","66,259","63,211","3,048"
13,2020,CD,Brooklyn,K10,"136,071",2.58,"27,530","23,233","69,293","2,356","36,619","1,039","3,531","55,768","52,460","3,308"
14,2020,CD,Queens,Q03,"179,134",3.16,"37,590","113,447","17,643","8,690","34,456","2,210","2,688","59,119","56,025","3,094"
15,2020,CD,Brooklyn,K15,"169,632",2.66,"36,851","15,688","105,734","6,649","34,358","1,296","5,907","67,322","63,097","4,225"
16,2020,CD,Queens,Q01,"196,803",2.23,"27,312","50,073","90,578","15,281","29,989","3,037","7,845","90,547","85,697","4,850"
17,2020,CD,Queens,Q10,"129,411",3.11,"24,525","30,587","25,678","17,971","27,838","16,205","11,132","43,252","41,213","2,039"
18,2020,CD,Manhattan,M06,"155,614",1.73,"14,281","13,779","101,605","5,424","27,293","1,474","6,039","99,371","87,186","12,185"
19,2020,CD,Manhattan,M08,"231,983",1.87,"33,594","18,517","170,406","6,257","26,536","1,789","8,478","138,922","122,565","16,357"
20,2020,CD,Staten Island,S02,"140,795",2.83,"28,715","20,181","85,970","4,901","25,887","1,052","2,804","51,599","48,690","2,909"
21,2020,CD,Manhattan,M04,"131,351",1.68,"11,444","23,249","69,509","9,075","22,933","1,258","5,327","84,357","75,001","9,356"
22,2020,CD,Manhattan,M07,"222,129",1.93,"32,905","32,844","139,967","14,946","22,826","2,163","9,383","126,397","110,770","15,627"
23,2020,CD,Brooklyn,K14,"164,568",2.74,"36,180","24,726","61,736","46,445","21,317","2,332","8,012","62,254","59,355","2,899"
24,2020,CD,Bronx,B09,"188,249",2.82,"45,395","103,696","4,859","50,351","21,305","3,958","4,080","68,576","66,029","2,547"
25,2020,CD,Staten Island,S01,"189,663",2.86,"44,216","58,955","62,560","40,093","20,632","1,995","5,428","69,066","64,940","4,126"
26,2020,CD,Queens,Q05,"178,178",2.72,"33,591","64,221","85,642","3,884","19,241","1,658","3,532","69,416","65,075","4,341"
27,2020,CD,Brooklyn,K13,"108,905",2.39,"20,282","17,508","56,345","13,045","17,929",894,"3,184","46,672","44,531","2,141"
28,2020,CD,Brooklyn,K02,"130,021",2.03,"20,037","17,036","62,700","25,029","16,669","1,380","7,207","66,998","61,221","5,777"
29,2020,CD,Brooklyn,K05,"200,293",2.90,"48,268","73,681","6,341","92,108","14,772","4,469","8,922","72,381","68,174","4,207"
30,2020,CD,Manhattan,M01,"78,390",2.02,"12,775","6,914","49,307","2,964","14,263",735,"4,207","41,977","36,457","5,520"
31,2020,CD,Brooklyn,K01,"204,125",2.43,"44,725","45,476","124,282","10,692","13,631","2,956","7,088","89,974","83,353","6,621"
32,2020,CD,Staten Island,S03,"164,723",2.76,"33,271","17,659","129,182","1,791","12,212",839,"3,040","62,782","59,404","3,378"
33,2020,CD,Manhattan,M05,"63,600",1.68,"5,982","7,912","35,750","4,768","12,123",632,"2,415","42,323","33,230","9,093"
34,2020,CD,Manhattan,M02,"92,445",1.71,"8,587","7,303","65,968","2,271","11,922",828,"4,153","58,418","50,806","7,612"
35,2020,CD,Bronx,B11,"119,666",2.71,"25,881","53,788","26,285","23,567","11,154","1,822","3,050","44,864","42,686","2,178"
36,2020,CD,Manhattan,M09,"110,458",2.34,"15,110","42,523","28,290","23,322","10,784","1,308","4,231","44,900","41,325","3,575"
37,2020,CD,Brooklyn,K18,"204,095",2.95,"43,137","17,919","43,259","120,661","10,486","2,452","9,318","72,361","68,523","3,838"
38,2020,CD,Bronx,B07,"146,813",2.79,"34,554","99,985","8,260","24,456","10,021","1,948","2,143","53,180","50,996","2,184"
39,2020,CD,Manhattan,M11,"125,771",2.29,"23,954","56,743","18,865","35,311","9,825","1,249","3,778","54,738","51,823","2,915"
40,2020,CD,Bronx,B10,"130,763",2.45,"24,874","53,710","32,278","31,215","9,142","1,655","2,763","54,738","52,169","2,569"
41,2020,CD,Brooklyn,K06,"113,933",2.27,"23,278","18,136","69,749","10,285","8,372",967,"6,424","53,365","49,623","3,742"
42,2020,CD,Brooklyn,K03,"174,960",2.56,"36,035","32,788","46,592","76,676","7,988","2,542","8,374","72,904","67,225","5,679"
43,2020,CD,Brooklyn,K04,"120,747",2.69,"20,348","61,627","27,883","18,163","7,402","1,584","4,088","47,292","44,036","3,256"
44,2020,CD,Manhattan,M12,"180,206",2.48,"28,290","117,244","38,222","13,161","5,751","1,679","4,149","74,722","71,076","3,646"
45,2020,CD,Brooklyn,K08,"108,259",2.30,"18,521","14,131","31,077","49,705","5,451","1,467","6,428","49,525","46,222","3,303"
46,2020,CD,Bronx,B08,"106,924",2.37,"20,729","52,317","34,097","11,247","5,329","1,279","2,655","45,144","42,569","2,575"
47,2020,CD,Manhattan,M10,"130,440",2.19,"24,766","30,904","19,778","67,610","5,048","1,492","5,608","61,629","57,720","3,909"
48,2020,CD,Queens,Q14,"124,173",2.70,"30,502","28,592","40,183","44,867","3,553","2,355","4,623","47,975","44,054","3,921"
49,2020,CD,Bronx,B12,"163,489",2.79,"36,764","44,168","9,347","98,995","3,440","3,008","4,531","60,856","57,603","3,253"
50,2020,CD,Brooklyn,K17,"162,446",2.71,"31,612","13,313","5,837","127,289","3,036","2,301","10,670","62,636","58,768","3,868"
51,2020,CD,Brooklyn,K09,"102,000",2.52,"19,983","10,478","28,532","52,807","2,640","2,279","5,264","41,694","39,338","2,356"
52,2020,CD,Bronx,B04,"150,436",2.79,"37,858","97,804","3,240","43,227","2,596","1,460","2,109","54,022","52,006","2,016"
53,2020,CD,Bronx,B05,"132,584",2.91,"34,523","90,730","1,991","34,598","1,888","1,536","1,841","45,814","44,332","1,482"
54,2020,CD,Brooklyn,K16,"98,506",2.68,"24,686","21,709","3,347","66,418","1,331","1,145","4,556","36,951","34,999","1,952"
55,2020,CD,Bronx,B06,"89,216",2.66,"23,194","56,181","5,653","23,765","1,148",936,"1,533","32,821","30,906","1,915"
56,2020,CD,Bronx,B01,"100,929",2.74,"27,218","67,216","2,556","27,765",909,936,"1,547","36,896","35,495","1,401"
57,2020,CD,Bronx,B03,"93,755",2.74,"25,748","52,646","1,538","36,599",518,882,"1,572","34,360","32,668","1,692"
58,2020,CD,Bronx,B02,"54,454",2.82,"14,652","38,895",941,"13,025",383,507,703,"19,240","18,381",859

## Homework
### Standardize shelter data

In [101]:
## recall dfshelter
dfshelter

,Report Date,Borough,Community District,Census Type,Adult Family Commercial Hotel,Adult Family Shelter,Adult Shelter,Adult Shelter Commercial Hotel,Family Cluster,Family with Children Commercial Hotel,Family with Children Shelter
0,10/31/20,Bronx,1,Individuals,NaN,189.0,73.0,140.0,31.0,64.0,1202.0
1,10/31/20,Bronx,2,Individuals,NaN,160.0,0.0,NaN,204.0,NaN,866.0
2,10/31/20,Bronx,3,Individuals,NaN,258.0,218.0,123.0,62.0,115.0,1295.0
3,10/31/20,Bronx,4,Individuals,NaN,NaN,206.0,99.0,910.0,NaN,2134.0
4,10/31/20,Bronx,5,Individuals,NaN,203.0,0.0,NaN,755.0,NaN,1054.0
...,...,...,...,...,...,...,...,...,...,...,...
3181,3/31/23,Queens,13,Individuals,NaN,NaN,131.0,895.0,NaN,NaN,832.0
3182,3/31/23,Queens,14,Individuals,NaN,321.0,102.0,339.0,NaN,NaN,180.0
3183,3/31/23,Staten Island,1,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,135.0
3184,3/31/23,Staten Island,2,Individuals,NaN,NaN,NaN,NaN,NaN,546.0,NaN
3185,3/31/23,Staten Island,3,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
dfshelter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3186 entries, 0 to 3185
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Report Date                            3186 non-null   object
 1   Borough                                3186 non-null   object
 2   Community District                     3186 non-null   int64
 3   Census Type                            3186 non-null   object
 4   Adult Family Commercial Hotel          80 non-null     float64
 5   Adult Family Shelter                   802 non-null    float64
 6   Adult Shelter                          1797 non-null   float64
 7   Adult Shelter Commercial Hotel         1242 non-null   float64
 8   Family Cluster                         402 non-null    float64
 9   Family with Children Commercial Hotel  886 non-null    float64
 10  Family with Children Shelter           2168 non-null   float64
 11  BoroCD                                 3186 non-null   object
dtypes: float64(7), int64(1), object(4)
memory usage: 298.8+ KB

In [194]:
## function to convert shelter CDN
def convertShelter(cdn):
    string_cdn = str(cdn)
    parts = string_cdn.split()
    
    if len(parts) != 2:
        return "Flag"  # Handle unexpected format
    
    borough_code = parts[0]
    number = parts[1]
    
    if not number.isdigit():
        return "Flag"  # Ensure the second part is a number

    formatted_number = number.zfill(2)  # Pad with leading zero if needed

    if borough_code == "Bronx":
        cdn_code = f"B{formatted_number}"
    elif borough_code == "Brooklyn":
        cdn_code = f"K{formatted_number}"
    elif borough_code == "Manhattan":
        cdn_code = f"M{formatted_number}"
    elif borough_code == "Queens":
        cdn_code = f"Q{formatted_number}"
    elif borough_code == "Staten Island":
        cdn_code = f"S{formatted_number}"
    else:
        cdn_code = "Flag"
    
    return cdn_code

In [196]:
## test it
convertShelter("Queens 13")

'Q13'

In [180]:
## use on shelter data

In [198]:
## verify
dfshelter["updated_cdn"] = \
dfshelter["Community District"].apply(lambda x: convertShelter(x))
dfshelter

,Report Date,Borough,Community District,Census Type,Adult Family Commercial Hotel,Adult Family Shelter,Adult Shelter,Adult Shelter Commercial Hotel,Family Cluster,Family with Children Commercial Hotel,Family with Children Shelter,BoroCD,updated_cdn
0,10/31/20,Bronx,1,Individuals,NaN,189.0,73.0,140.0,31.0,64.0,1202.0,Flag,Flag
1,10/31/20,Bronx,2,Individuals,NaN,160.0,0.0,NaN,204.0,NaN,866.0,Flag,Flag
2,10/31/20,Bronx,3,Individuals,NaN,258.0,218.0,123.0,62.0,115.0,1295.0,Flag,Flag
3,10/31/20,Bronx,4,Individuals,NaN,NaN,206.0,99.0,910.0,NaN,2134.0,Flag,Flag
4,10/31/20,Bronx,5,Individuals,NaN,203.0,0.0,NaN,755.0,NaN,1054.0,Flag,Flag
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,3/31/23,Queens,13,Individuals,NaN,NaN,131.0,895.0,NaN,NaN,832.0,Flag,Flag
3182,3/31/23,Queens,14,Individuals,NaN,321.0,102.0,339.0,NaN,NaN,180.0,Flag,Flag
3183,3/31/23,Staten Island,1,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,135.0,Flag,Flag
3184,3/31/23,Staten Island,2,Individuals,NaN,NaN,NaN,NaN,NaN,546.0,NaN,Flag,Flag
3185,3/31/23,Staten Island,3,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Flag,Flag

#### Reorder columns

In [200]:
## call columns into list
list(dfshelter.columns)

['Report Date',
 'Borough',
 'Community District',
 'Census Type',
 'Adult Family Commercial Hotel',
 'Adult Family Shelter',
 'Adult Shelter',
 'Adult Shelter Commercial Hotel',
 'Family Cluster',
 'Family with Children Commercial Hotel',
 'Family with Children Shelter',
 'BoroCD',
 'updated_cdn']

In [216]:
## redorder and call
dfshelter = dfshelter[['Report Date',
 'updated_cdn',                     
 'Census Type',
 'Adult Family Commercial Hotel',
 'Adult Family Shelter',
 'Adult Shelter',
 'Adult Shelter Commercial Hotel',
 'Family Cluster',
 'Family with Children Commercial Hotel',
 'Family with Children Shelter',
]]
dfshelter

,Report Date,updated_cdn,updated_cdn,Census Type,Adult Family Commercial Hotel,Adult Family Shelter,Adult Shelter,Adult Shelter Commercial Hotel,Family Cluster,Family with Children Commercial Hotel,Family with Children Shelter
0,10/31/20,Flag,Flag,Individuals,NaN,189.0,73.0,140.0,31.0,64.0,1202.0
1,10/31/20,Flag,Flag,Individuals,NaN,160.0,0.0,NaN,204.0,NaN,866.0
2,10/31/20,Flag,Flag,Individuals,NaN,258.0,218.0,123.0,62.0,115.0,1295.0
3,10/31/20,Flag,Flag,Individuals,NaN,NaN,206.0,99.0,910.0,NaN,2134.0
4,10/31/20,Flag,Flag,Individuals,NaN,203.0,0.0,NaN,755.0,NaN,1054.0
...,...,...,...,...,...,...,...,...,...,...,...
3181,3/31/23,Flag,Flag,Individuals,NaN,NaN,131.0,895.0,NaN,NaN,832.0
3182,3/31/23,Flag,Flag,Individuals,NaN,321.0,102.0,339.0,NaN,NaN,180.0
3183,3/31/23,Flag,Flag,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,135.0
3184,3/31/23,Flag,Flag,Individuals,NaN,NaN,NaN,NaN,NaN,546.0,NaN
3185,3/31/23,Flag,Flag,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## WILL DO IN CLASS Merge dataframes

In [ ]:
#call a few rows of census

In [ ]:
#call a few rows of snap

In [ ]:
## merge 2 at a time

In [ ]:
## Homework 
## merge shelter into previous dataframe

In [ ]:
## call shelter data

In [ ]:
## instead of 2 at a time, we do in one go:
df = dfcensus.merge(dfsnap, on = "updated_cdn").merge(dfshelter, on = "updated_cdn")
df

In [ ]:
df.info()